.chat {
    // position: sticky;
    // overflow: auto;
    display: grid;
    grid-template-areas:
        "header"
        "msgs"
        "input";

    @include for-mobile-layout {
        position: fixed;
        top: 0;
        background-color: #fff;
        height: 92vh;
        // height: 100vh;
        width: 100%;
        z-index: 20;
        overflow: auto;
    }
}
