.comment-preview {
    @include flex(row, start, space-between);
    padding: $pad1 0;
    width: 100%;
    .side-left-container {
        width: 14%;
        // background-color: red;
        @include flex(row, center, center);
        .img-container {
            width: 40px;
            height: 40px;
        }
    }
    .content-container {
        width: 72%;
        @include flex(column, start, center);

        h3 {
            font-weight: 400;
            font-size: 14px;
            width: 100%;
            @include flex(row, end, start, $pad1);
            padding: 0;
            border: none;
        }
        p {
            width: 100%;
        }
        .controls-container {
            height: 22px;
            @include flex(row, center, start, $pad2);
        }
        button {
            font-size: 14px;
            padding: 0;
            border: none;
            font-weight: 350;
            color: $clr-grey4;
        }
        img.trash {
            border: none;
            height: 14px;
            width: 22px;
            filter: opacity(0.5);
            cursor: pointer;
            margin: 0;
            display: none;
        }
    }
    .heart-container {
        @include flex(row, center, center);
        width: 10%;
        padding-top: 3px;
    }
    &:hover img.allow.trash {
        display: inline-block;
    }
}
