.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3 - 3.2px));
    // grid-auto-rows: 200px; // from js
    gap: 4px;

    li {
        @include flex(row, center, center);
        // background-color: teal;
        // img {
        //     width: 100%;
        // }
    }
}
