.highlight-preview {
    margin-right: 34px;
    @include flex(column, center, start, 9px);
    .img-container {
        height: 50px;
    }
    span {
        font-size: 14px;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        font-weight: 400;
    }
}
