.home-header {
    display: none;
    @include for-mobile-layout {
        @include header;
        position: static;
    }
    a {
        position: relative;
        .have-notification {
            color: red;
            height: 9px;
            position: absolute;
            right: 5px;
        }
    }
}
