.circle-img {
    @include flex(row, center, center);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    img {
        border-radius: 50%;
        height: 93%;
        width: 93%;
        border: 3px solid white;
        filter: none;
        margin: 0;

        @include for-mobile-layout {
            height: 94%;
            width: 94%;
            border: 3px solid white;
        }
    }
}
.gradient {
    background: $gradient;
}
.regular {
    background: none;
}
.grey {
    background: $clr-grey2;
    img {
        height: 97%;
        width: 97%;
    }
}

.none {
    img {
        border: 1px solid $clr-grey3;
        height: 94%;
        width: 94%;
    }
}
