.modal {
    position: fixed;
    bottom: 50%;
    left: 50%;
    translate: -50% 50%;
    z-index: 20;

    @include flex(column, stretch, start);
    width: 400px;

    @include for-mobile-layout {
        width: 100%;
        bottom: 0px;
        left: 0;
        translate: 0 0;
    }

    background-color: $clr-white;

    border-radius: 10px;

    & > button,
    & > h3,
    & > a {
        @include flex(column, center, center);
        border-bottom: 1px solid $clr-grey2;
        padding: 15px;
        font-weight: 300;
        font-size: 18px;
        border-radius: 0;
        position: relative;
        img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 1px solid $clr-grey3;
            margin-bottom: $pad1;
        }

        img.loader {
            border: none;
            height: 60px;
            width: 60px;
        }

        label {
            font-size: 18px;
        }

        span {
            color: $clr-grey4;
            font-size: 16px;
        }

        &.bold {
            font-weight: 500;
        }
    }
    a {
        font-weight: 300;
        font-size: 18px;
    }
}
