.nav-side {
    width: 324px;
    padding: 19px;
    padding-top: 32px;
    @include flex(column, start, start, 12px);

    & > h3 {
        color: $clr-grey4;
        font-size: 14.5px;
    }
    @include for-narrow-layout {
        display: none;
    }

    ul,
    li {
        width: 100%;
    }
}
