.post-controls {
    @include for-mobile-layout {
        padding: 0 10px;
    }
    .icons-container {
        margin: 5px 0 12px;
        @include flex(row, center, space-between);
        img,
        svg {
            height: em(25px);
        }
        div {
            @include flex(row, center, center);
            a {
                margin-right: 15px;
            }
        }
    }
}
