.post-header {
    @include flex(row, center, space-between);
    padding: 8px 0;

    @include for-mobile-layout {
        padding: $pad1;
    }
    .user-info-container {
        @include flex(row, center, start, 8px);

        div.img-container {
            height: 40px;
            width: 40px;
            @include for-mobile-layout {
                height: 31px;
                width: 31px;
            }
        }

        div.text-container {
            // height: 28px;
            // div.name-comtainer {
            @include flex(row, center, start, 7px);
            // height: 10px;
            margin-top: 3px;
            // @include for-mobile-layout {
            // }

            a {
                font-weight: 450;
                font-size: 15px;
            }

            span {
                @include flex(row, center, start, 7px);
                color: $clr-grey3;
                font-size: 15px;
                img {
                    height: 4px;
                    width: 4px;
                    filter: contrast(0);
                }
            }
            // }
            span.more-info {
                font-size: 0.8em;
                font-weight: 200;
            }
        }
    }
    .ellipsis {
        margin-right: 2px;
        img {
            height: 19px;
            @include for-mobile-layout {
                transform: rotate(90deg);
            }
        }
    }
}
