.post-controls {
    .icons-container {
        margin: 4px 0px 12px;
        @include flex(row, center, space-between);
        img,
        svg {
            height: em(25px);
        }
        div {
            @include flex(row, center, center);
            a {
                margin-right: 15px;
            }
        }
    }
    @include for-mobile-layout {
        padding: 0 15px;
        .icons-container {
            margin: 0px 0px 10px;
            img,
            svg {
                height: em(21px);
            }
        }
    }
}
