.post-comments {
    @include for-mobile-layout {
        padding: 0 10px;
    }
    @include flex(column, start, start);
    font-size: 16.5;
    h3,
    a {
        font-weight: 500;
        font-size: 14px;
    }
    h3.new-comment {
        margin-bottom: 8px;
        span:not(.rtl) {
            font-weight: 300;
        }
    }
    a {
        // margin-top: 1px;
        gap: 5px;
        display: flex;
        align-items: baseline;

        @include for-mobile-layout {
        }
        span {
            // font-size: inherit;
            // font-weight: 350;
            // font-family: system-ui;
        }
    }
    h4 {
        margin-top: 3px;
        font-weight: 400;
        font-size: 12px;
    }

    & > button {
        font-weight: 350;
        margin: 5px 0;
        font-size: 14px;
    }
    form {
        width: 100%;
        // margin-top: -1px;
        // margin-top: 2px;
        @include flex(row, baseline, space-between);
        .img-container {
            display: none;

            @include for-mobile-layout {
                display: block;
                height: 40px;
                width: 40px;
            }
        }

        input,
        input::placeholder {
            width: calc(100% - 61px);
            cursor: pointer;
            padding: 0;
            font-size: 14px;
            font-weight: 300;
            @include for-mobile-layout {
                font-size: 16.5px;
            }
        }

        span.icon {
            margin-right: 5px;
            font-size: 14px;
        }
        // input {
        //     font-size: 1rem;
        // }
    }

    button.post,
    span.post {
        width: 29px;
        border: none;
        padding: 0;
        font-size: 14px;
        font-weight: 450;
    }
}
