.post-controls {
    .icons-container {
        margin: 4px 0px 12px;
        @include flex(row, center, space-between);
        img,
        svg {
            height: em(25px);
        }
        div {
            @include flex(row, center, center);
            a {
                margin-right: 15px;
                @include for-mobile-layout {
                    margin-right: 19px;
                }
            }
        }
    }
    @include for-mobile-layout {
        padding: 0 16px;
        .icons-container {
            margin: 2px 0px 9px;
            img,
            svg {
                height: 24px;
            }
        }
    }
}
