.post-comments {
    @include for-mobile-layout {
        padding: 0 12px;
    }
    @include flex(column, start, start);
    font-size: 16.5;
    h3,
    a {
        font-weight: 500;
        font-size: 14px;
    }
    h3.new-comment {
        width: 100%;
        @include flex(row, baseline, start, 5px);
        margin-bottom: 3px;
        margin-top: 2px;
        span {
            font-size: 14px;
            font-weight: 400;
        }
        span:not(.rtl) {
            font-weight: 300;
        }
        span.icon {
            margin-left: auto;
            margin-right: 5px;
            a {
                margin-top: 0;
                img {
                    width: 13px;
                    height: 13px;
                    filter: opacity(0.5);
                }
                svg {
                    filter: opacity(1);
                }
            }
        }

        // @include for-mobile-layout {
        //     margin-top: -6px;
        //     span {
        //         font-size: 14px;
        //     }
        // }
    }
    a {
        // margin-top: 1px;
        margin-top: 6px;
        gap: 5px;
        display: flex;
        align-items: baseline;

        @include for-mobile-layout {
            margin-top: -4px;
        }
        span {
            font-size: inherit;
            font-weight: 400;
            // font-weight: 350;
            // font-family: system-ui;
        }
    }
    h4 {
        margin-top: 3px;
        font-weight: 400;
        font-size: 12px;
        @include for-mobile-layout {
            order: 1;
            // margin-top: 3px;
            @include flex(row, center, start, 7px);

            span {
                @include flex(row, center, start, 7px);
                font-size: 12px;
                color: #737373;
                font-weight: 400;

                img {
                    height: 4px;
                    width: 4px;
                    filter: contrast(0);
                }
            }
        }
    }

    & > button {
        font-weight: 350;
        margin: 5px 0;
        font-size: 14px;
        @include for-mobile-layout {
            margin: 0;
            font-weight: 400;
        }
    }
    form {
        width: 100%;
        // margin-top: -1px;
        // margin-top: 2px;
        @include flex(row, baseline, space-between);
        .img-container {
            display: none;
        }
        @include for-mobile-layout {
            align-items: center;
            // gap: 10px;
            margin-top: 7px;
            // order: 2;
            .img-container {
                display: block;
                height: 26px;
                width: 26px;
                // margin-right: 10px;
            }
        }

        input,
        input::placeholder {
            width: calc(100% - 61px);
            cursor: pointer;
            padding: 0;
            font-size: 14px;
            font-weight: 300;
            @include for-mobile-layout {
                width: calc(100% - 67px);
                font-size: 13px;
                font-weight: 400;
            }
        }

        // input {
        //     font-size: 1rem;
        // }
        span.icon {
            margin-right: 5px;
            margin-top: 2px;
            font-size: 14px;
            width: 13px;
            filter: opacity(0.5);
        }

        button.post,
        span.post {
            width: 29px;
            border: none;
            padding: 0;
            font-size: 14px;
            font-weight: 450;
        }
    }
}
