.posts {
    // margin-top: 10px;
    // margin-bottom: 50px;

    ul.posts-container {
        margin-top: 16px;
        width: 100%;
        @include flex(column, center, start, 12px);

        li {
            width: 74%;

            @include for-mobile-layout {
                width: 100%;
            }
        }
    }
}
