.posts {
    // margin-top: 10px;
    // margin-bottom: 50px;
    border: none;

    @include for-mobile-layout {
        border-top: 1px solid $clr-grey2;
    }
    ul.posts-container {
        margin-top: 16px;
        width: 100%;
        @include flex(column, center, start, 12px);
        li {
            width: 74%;
        }
        @include for-mobile-layout {
            margin-top: 0px;
            gap: 7px;
            li {
                width: 100%;
            }
        }
    }
}
