.profile-header {
    display: none;
    @include for-mobile-layout {
        @include header;
        // border-bottom: 1px solid $clr-grey2;
        padding: 15px;
        position: static;

        h2 {
            font-weight: 700;
            font-size: 1.5em;
        }
        // .icons {
        //     gap: 18px;
        //     img {
        //         margin-right: 7px;
        //         height: 23px;
        //     }
        // }
    }
}
