.profile-info {
    // padding: $pad1;
    @include flex(row, center, start, 30px);
    @include for-mobile-layout {
        position: relative;
        @include flex(column, start, start);
        .user-info-header {
            position: absolute;
            top: 0;
            left: 130px;
        }
    }
    .left-container {
        // margin-bottom: 7px;
        width: 31%;
        @include flex(row, center, center);
        @include for-mobile-layout {
            width: max-content;
            display: block;
        }
        .img-container {
            cursor: pointer;
            height: 172px;
            width: 172px;
            // min-width: 200px;
            img {
                border-width: 6px;
            }
            @include for-mobile-layout {
                height: 100px;
                width: 100px;
                min-width: 100px;
                img {
                    border-width: em(3px);
                }
            }
        }
    }
    .user-info {
        .user-info-header {
            margin-top: 7px;
            @include flex(row, end, start, 23px, wrap);
            h2 {
                font-size: 20px;
                // margin-right: 20px;
                font-weight: 300;
            }
            @include for-mobile-layout {
                gap: $pad1;
                margin-top: 18px;
            }
            .btn-container {
                @include flex(row, center, start, 8px);
                .btn {
                    padding: 9px 17px 7px;
                    &.user {
                        width: 35px;
                        padding: 0px;
                        @include flex(row, center, center);
                        height: 33px;
                        img {
                            width: 15px;
                        }
                    }
                }
                .follow {
                    @include blue-btn;
                }
                .ellipsis {
                    margin-left: 10px;
                }
                button,
                a,
                .follow {
                    font-size: 14px;
                }

                button:last-child img {
                    width: 20px;
                    // margin-left: 10px;
                }

                button.gear {
                    margin-left: 7px;
                    @include for-mobile-layout {
                        display: none;
                    }
                }
            }
        }
        .user-info-dash-board {
            @include flex(row, center, start, 50px);
            margin-top: 28px;
            h3 {
                font-weight: 300;
            }
            span {
                font-weight: 400;
            }

            @include for-mobile-layout {
                display: none;
            }
        }

        .user-description {
            margin-top: $pad2;
            @include flex(column, start, start);
            h3 {
                font-size: 15px;
            }
            pre {
                margin-top: -2px;
                line-height: 18px;
                font-size: 14px;
                width: max-content;
                margin: 0;
                font-weight: 400;
            }

            pre.he {
                text-align: right;
            }
            h4 {
                margin-top: 13px;
                font-size: 13px;
                font-weight: 400;
                color: $clr-grey4;
                span {
                    font-size: 13px;
                    color: $clr-black;
                }
            }
        }
    }
    @include for-mobile-layout {
        display: none;
    }
}
