.profile-info {
    // padding: $pad1;
    @include flex(row, center, start, 31px);

    .left-container {
        // margin-bottom: 7px;
        width: 31%;
        @include flex(row, center, center);

        .img-container {
            cursor: pointer;
            height: 164px;
            width: 164px;
            // min-width: 200px;
            img {
                border-width: 5px;
            }
        }
    }
    .user-info {
        .user-info-header {
            margin-top: 15px;
            @include flex(row, end, start, 23px, wrap);
            h2 {
                font-size: 20px;
                // margin-right: 20px;
                font-weight: 300;
            }

            .btn-container {
                @include flex(row, center, start, 9px);
                .btn {
                    padding: 10px 16px 6px;
                    &.user {
                        width: 35px;
                        padding: 0px;
                        @include flex(row, center, center);
                        height: 33px;
                        img {
                            width: 15px;
                        }
                    }
                }
                .follow {
                    @include blue-btn;
                }
                .ellipsis {
                    margin-left: 10px;
                }
                button,
                a,
                .follow {
                    font-size: 14px;
                }

                button:last-child img {
                    width: 22px;
                    // margin-left: 10px;
                    margin-top: 2px;
                }

                button.gear {
                    margin-left: 4px;
                }
            }
        }
        .user-info-dash-board {
            @include flex(row, center, start, 49px);
            margin-top: 23px;
            h3 {
                font-weight: 300;
                font-size: 17px;
            }
            span {
                font-weight: 450;
                font-size: inherit;
            }
        }

        .user-description {
            margin-top: $pad2;
            @include flex(column, start, start);
            h3 {
                font-size: 15px;
            }
            pre {
                margin-top: -2px;
                line-height: 18px;
                font-size: 14px;
                width: max-content;
                // margin: 0;
                font-weight: 400;
                margin-left: -3px;
            }

            pre.he {
                text-align: right;
            }
            h4 {
                margin-top: 13px;
                font-size: 13px;
                font-weight: 400;
                color: $clr-grey4;
                span {
                    font-size: 13px;
                    color: $clr-black;
                }
            }
        }
    }
    @include for-mobile-layout {
        display: none;
    }
}
