.profile-highlight {
    margin-top: 45px;
    margin-bottom: 51px;
    margin-left: 37px;

    ul {
        display: flex;
        li {
            // margin-right: 34px;
            // width: 66px;
            .img-container {
                height: 84px;
                width: 84px;

                @include for-mobile-layout {
                    height: 65px;
                    width: 65px;
                }
            }
        }
    }
}
