.profile-info-mobile {
    display: none;

    @include for-mobile-layout {
        display: block;
        // padding: 7px 15px;

        .info-header {
            @include flex(row, start, space-between);
            padding: 7px 16px 0;
            margin-top: 24px;

            .img-container {
                cursor: pointer;
                height: 87px;
                width: 87px;
                min-width: 80px;
                img {
                    border-width: em(3px);
                }
            }

            .user-info-dash-board {
                @include flex(row, center, space-between);

                margin-right: 12px;
                margin-top: 9.5px;
                width: 63%;

                & > div {
                    @include flex(column, center, space-between);
                    height: 52px;

                    &:nth-child(2) {
                        margin-left: 13px;
                    }

                    span {
                        font-size: 15px;
                        height: 50%;
                        font-weight: 400;
                    }
                    span:first-child {
                        font-weight: 900;
                        font-size: 19px;
                    }
                }
            }
        }
        .user-description {
            padding: 0px 15px;
            h3 {
                font-size: 15px;
                margin-top: 2px;
                // height: 19px;
            }
            pre {
                text-align: left;
                margin: 0;
                font-size: 15px;
                line-height: 22px;
                font-weight: 400;
            }
            h4 {
                font-size: 14px;
                margin: 8px 0;
                font-weight: 350;

                span {
                    font-size: inherit;
                    font-weight: 500;
                }
            }
        }
        .btn-container {
            padding: 0px 12px;
            @include flex(row, center, space-between);
            margin-top: 10px;

            button,
            a {
                @include flex(row, center, center);
                font-weight: 400;
                font-size: 14px;
            }
            button {
                padding: 7px 5px 5px;
                gap: 4px;
                img {
                    height: 10px;
                }
            }

            button:nth-of-type(1),
            button:nth-of-type(2) {
                width: 44%;
                a {
                    width: 100%;
                }
            }
            button:nth-of-type(3) {
                width: 8%;
                padding: 9.67px 6px;
                border-radius: 5px;
                img {
                    height: 12px;
                }
            }
            .follow {
                @include blue-btn;
            }
        }
    }
}
