.user-preview {
    @include flex(row, center, space-between);
    width: 100%;
    margin-bottom: 11px;

    .img-container {
        height: 48px;
        width: 48px;
    }

    .name-container {
        height: 36px;
        width: calc(100% - 123px);
        @include flex(column, start, center);
        h3 {
            height: 50%;
            cursor: pointer;
        }
        span {
            height: 50%;
            color: $clr-grey4;
            font-size: 13px;
            font-weight: 300;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    button {
        min-width: 52px;
        justify-self: end;
        font-size: 0.8rem;
        justify-content: end;

        img {
            height: 23px;
        }
    }
}
