.user {
    // background-color: red;
    @include flex(column, center, space-between, 4px);
    width: 66px;
    text-align: center;
    cursor: pointer;

    div.img-container {
        height: 64px;
        width: 64px;
    }
    a {
        width: 107%;

        span {
            font-size: 12px;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
