.home {
    display: flex;
    justify-content: space-between;

    @include for-narrow-layout {
        justify-content: center;
    }

    @include for-mobile-layout {
        display: block;
    }

    div.main-content {
        padding-top: 20px;
        // width: 663px;
        width: calc(100% - 550px);

        @include for-narrow-layout {
            width: 75%;
        }
        @include for-mobile-layout {
            width: 100%;
            padding-top: 0;
        }
    }
}
