.login {
    height: 100vh;
    width: 100vw;

    @include flex(column, center, start);

    .login-container,
    .signup-container {
        // height: 495px;
        margin-top: 28px;
        text-align: center;
        width: 350px;
        padding-bottom: 14px;
        // padding: $pad3;
        border: 1px solid $clr-grey2;
        @include for-mobile-layout {
            border-color: white;
        }

        img.logo {
            height: 55px;
            @include for-mobile-layout {
                height: 59px;
            }
            margin-top: 40px;
            margin-bottom: 32px;
        }

        form {
            padding: 0 $pad1;
            @include flex(column, center, center, 6px);

            input {
                height: 37px;
                width: 269px;
                @include for-mobile-layout {
                    height: 43px;
                    width: 297px;
                    font-size: 15px;
                }
                padding: $pad1 8px;
                border-radius: 3px;
                border: 1px solid $clr-grey2;
                background-color: $clr-grey0;
                font-weight: 100;
            }
            button {
                @include blue-btn;
            }
        }
        .or-container {
            @include flex(row, center, center, 18px);
            padding: 10px 39px;
            @include for-mobile-layout {
                padding: 13px 26px;
            }
            div.line {
                border-top: 1px solid $clr-grey2;
                display: inline-block;
                width: 45%;
                margin-bottom: 5px;
            }
            h3 {
                color: $clr-grey4;
                font-size: 14px;
                @include for-mobile-layout {
                    font-size: 15px;
                }
            }
        }
        .fb-container {
            @include flex(row, center, center, 9px);
            padding: 14px;

            img.fb {
                height: 16px;
                margin-bottom: 2px;
                @include for-mobile-layout {
                    height: 18px;
                }
                // margin-top: 1px;
            }
            h3 {
                color: #395185;
                cursor: pointer;
                font-size: 14px;
                @include for-mobile-layout {
                    font-size: 16px;
                }
            }
        }
        span {
            font-size: 12px;
            font-weight: 100;
            cursor: pointer;
            @include for-mobile-layout {
                font-size: 13px;
            }
        }
    }
    .signup-container {
        margin-top: 10px;
        padding-top: 23px;
        padding-bottom: 19px;
        @include for-mobile-layout {
            margin-top: 19px;
        }
        h2 {
            font-weight: 300;
            @include for-mobile-layout {
                font-size: 15px;
            }
            button {
                color: $clr-blue;
                font-weight: 400;
                font-size: 15px;
            }
        }
    }
}
