.message {
    // @include flex(row, start, center);
    display: grid;
    grid-template-columns: 398px 1fr;
    grid-template-rows: 100vh;
    min-height: 100vh;
    width: 100%;
    @include for-mobile-layout {
        min-height: auto;
    }

    .left-side {
        position: sticky;
        overflow: auto;
        border-right: 1px solid $clr-grey2;
        @include for-mobile-layout {
            position: static;
            overflow: unset;
            .header {
                border: none;
            }
        }
        ul {
            li {
                cursor: pointer;

                .user-preview {
                    padding: 6px 21px;
                    margin: 0;

                    @include for-mobile-layout {
                        padding: 5px 15px;
                    }

                    .img-container {
                        height: 60px;
                        width: 60px;
                    }

                    .name-container {
                        height: auto;
                        width: calc(100% - 133px);
                        gap: 2px;
                        h3 {
                            font-size: 14px;
                            font-weight: 350;
                        }
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .input-container {
            padding: 0 15px 10px;
            form {
                position: relative;
                padding: $pad1 0;
                input {
                    background-color: $clr-grey1;
                    width: 100%;
                    // height: 42px;
                    padding: 12px;
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: 300;

                    @include for-mobile-layout {
                        padding: 9px;
                    }
                }
            }
        }

        .sub-header {
            padding: 10px 15px;
            display: flex;
            justify-content: space-between;
        }
    }
    .right-side {
        position: sticky;
        overflow: auto;
        .content-container {
            text-align: center;
            margin-top: 191px;
            @include flex(column, center, start);
            .img-container {
                @include flex(row, center, center);
                height: 96px;
                width: 96px;
                border-radius: 50%;
                border: 3px solid black;
                margin-bottom: 15px;

                img {
                    height: 63%;
                    width: 63%;
                }
            }
            h2 {
                font-size: 19px;
                margin-bottom: 4px;
                font-weight: 350;
                // margin-top: 2px;
            }
            span {
                font-size: 14px;
                margin-bottom: 4px;
                color: $clr-grey4;
            }

            button {
                @include blue-btn;
                width: 36%;
                background-color: #0095f6;
                font-size: 14px;
                padding-bottom: 7px;
            }

            @include for-mobile-layout {
                display: none;
            }
        }
        @include for-mobile-layout {
            z-index: 10;
        }
    }

    @include for-mobile-layout {
        @include flex(column, start, start);

        .left-side,
        .right-side {
            width: 100%;
        }
    }
}
