.notification {
    h3 {
        font-weight: 500;
        font-size: 1.5em;
    }

    ul.notification-list {
        padding: $pad1;

        .notification-preview {
            @include flex(row, center, space-between);
            margin-bottom: $pad1;

            .img-container {
                height: 50px;
                width: 50px;
            }

            .content-container {
                width: calc(100% - 160px);
                @include flex(row, center, start, 5px, wrap);

                a {
                    font-weight: 500;
                }

                span {
                    font-weight: 300;
                    display: block;
                }

                span:last-child {
                    color: $clr-grey4;
                }
            }

            .left-container {
                @include flex(row, center, end);
                width: 85px;
                .post-img {
                    height: 40px;
                    width: 40px;
                    border-radius: 10px;
                }

                button {
                    // width: 70px;
                    padding: 5px 10px;
                }
            }
        }
    }
}

// .big-modal {
//     padding: $pad3;
//     height: 100vh;
//     width: 500px;
//     position: fixed;
//     top: 0;
//     background-color: $clr-white;
//     left: 227px;

//     @include for-narrow-layout {
//         left: 80px;
//     }
// }

// .page-mobile {
//     padding-bottom: 55px;
// }
