.search {
    .form-container {
        padding: $pad1 0;
        border-bottom: 1px solid $clr-grey2;

        @include for-mobile-layout {
            padding: $pad2;
        }

        form {
            position: relative;
            padding: $pad1 0;
            input {
                background-color: $clr-grey1;
                width: 100%;
                // height: 42px;
                padding: 12px;
                border-radius: 10px;
                font-size: 16px;
                font-weight: 300;
            }
            img {
                position: absolute;
                top: 23px;
                right: 22px;
                filter: opacity(0.3);
                cursor: pointer;
            }
        }
    }

    .result-container {
        padding: $pad2;
    }
}
