.user-edit {
    @include flex(column, center, center);
    height: 100vh;
    @include for-mobile-layout {
        justify-content: start;
    }

    .edit-header {
        display: none;
        @include for-mobile-layout {
            @include header;
            border-bottom: 1px solid $clr-grey2;
        }
    }

    .edit-container {
        text-align: center;
        width: 350px;
        padding: $pad3 $pad1;
        border: 1px solid $clr-grey2;

        @include for-mobile-layout {
            border: none;
            width: 100vw;
        }

        h2 {
            font-size: 20px;
            @include for-mobile-layout {
                display: none;
            }
        }

        form {
            @include flex(column, center, center, $pad2);

            .change-photo-container {
                @include flex(column, center, center, $pad2);
                img {
                    height: 70px;
                    border-radius: 50%;
                    border: 1px solid $clr-grey3;
                }
                label {
                    font-weight: 400;
                }
                input {
                    display: none;
                }
            }
            label {
                @include flex(column, start, center, $pad1);
                width: 100%;
                font-weight: 100;

                input,
                textarea {
                    width: 100%;
                    // border: none;
                    border-bottom: 1px solid $clr-grey3;
                    // outline: none;
                    font-size: 18px;
                    font-weight: 350;
                }
            }
            button {
                @include blue-btn;
            }
        }
    }
}
