/* Media queries Breakpoint mixins */

// 0 - 700
@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
        @content;
    }
}

// 700 - 1000 (normal)
@mixin for-narrow-layout {
    @media (max-width: $break-normal) {
        @content;
    }
}

// 1000 - 1920 (wide)
@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}

// 1920 -
@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

/* Media  Mixins */

//aspect ratio mixin
// @mixin aspect-ratio($width: 1, $height: 1) {
//     position: relative;
//     overflow: hidden;
//     &:before {
//         content: "";
//         display: block;
//         width: 100%;
//         padding-top: calc(($height / $width) * 100%);
//     }
//     > * {
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//     }
//     > img {
//         height: 100%;
//         object-fit: cover;
//     }
// }

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

@mixin flex($dir: row, $align: center, $justify: space-between, $gap: 0, $wrap: nowrap) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin section {
    background-color: $clr4;
    color: $clr6;
    border-radius: 10px;
    padding: $pad3;
}

@mixin section-with-ul {
    padding: $pad2;
    background-color: $clr1;
    border-radius: 10px;

    li {
        margin: $pad1;

        span {
            color: $clr5;
            margin-inline-start: $pad1;
        }
    }
}

// Buttons

@mixin blue-btn {
    margin: 7px 0;
    background-color: $clr-blue;
    padding: $pad1;
    border-radius: 10px;
    color: $clr-white;
    @include flex(row, center, center);
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

@mixin btn($type: regular) {
    display: inline-flex;
    align-items: center;
    gap: $pad1;
    text-decoration: none;
    background-color: $clr-grey1;
    padding: $pad1;
    border-radius: 10px;
    // // text-transform: uppercase;
    // line-height: 1.25;
    // font-size: em(16px);
    // border: none;
    // cursor: pointer;

    // transition: background-color 0.2s;

    // @if $type == dark {
    //     background-color: $clr6;
    //     color: $clr1;
    //     border-radius: 10px;
    //     padding: 10px 20px;
    //     // &:hover {
    //     //     background-color: $clr1;
    //     //     color: $clr3;
    //     // }
    // } @else if $type == light {
    //     background-color: transparent;
    //     color: $clr7;
    //     border: 1px solid $clr7;
    //     border-radius: 30px;
    //     padding: 6px;
    //     // background-color: red;
    //     // color: $clr2;
    //     // &:hover {
    //     //     background-color: $clr1;
    //     //     color: $clr3;
    //     // }
    // }
}

@mixin header {
    width: 100%;
    @include flex(row, center, space-between);
    height: 50px;

    padding: $pad1;
    position: sticky;
    top: 0;
    background-color: $clr-white;
    z-index: 1;

    img {
        height: 22px;
        height: em(25px);
        margin-right: 10px;

        &.logo {
            height: em(35px);
            margin-left: $pad1;
        }
    }
    h2 {
        @include flex(row, center, center, 7px);
        font-size: 1.4em;
        font-weight: 400;
        img {
            height: 14px;
            // margin-left: 5px;
        }
    }

    div,
    section {
        @include flex(row, center, center, $pad1);
    }
}
