// COLOR PALETTE
$clr-white: #ffffff;
$clr-black: #000000;
$clr-grey1: #efefef;
$clr-grey2: #dbdbdb;
$clr-grey3: #a3a3a3;

$gradient: linear-gradient(40deg, rgb(254, 220, 127), rgb(255, 89, 29), rgb(211, 0, 197));
// $gradient: linear-gradient(40deg, rgb(254 220 127), rgb(255 89 29), rgb(211 0 197));
// $gradient: linear-gradient(115deg, rgb(249, 206, 52), rgb(238, 42, 123), rgb(98, 40, 215));

// $clr-success: rgb(66, 227, 17);
// $clr-danger: rgb(227, 45, 17);
// $clr4: darken($clr3, 40%);

// LAYOUT
$pad1: 10px;
$pad2: 15px;
$pad3: 25px;

// LAYOUT BREAKPOINTS
$break-narrow: 750px;
$break-normal: 1000px; // 1200
$break-wide: 1920px;

// $padded-break-narrow: $break-narrow + $layoutPadding * 2;
// $padded-break-normal: $break-normal + $layoutPadding * 2;
// $padded-break-wide: $break-wide + $layoutPadding * 2;
