::selection {
  // background-color: $clr1;
  // color: $clr3;
}

* {
  box-sizing: border-box;
  font-family: Bahnschrift, sans-serif;
}

html {
  font-family: Bahnschrift, sans-serif;
  // line-height: 1.8;
  line-height: lh(26px);
  font-weight: 350;
  font-size: 18px;

  @include for-mobile-layout {
    font-size: 15px;
    line-height: lh(20px);
  }

  // @media (max-width: 1300px) {
  //   font-size: 13px;
  // }
  // @media (min-width: 1300px) {
  // }
  // @media (max-width: 700px) {
  //   font-size: 11px;
  // }
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: $clr-white;

  // @include for-normal-layout {
  //   &.sidebar-open {
  //     overflow: hidden;
  //   }
  // }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 300;
  margin: 0;
  line-height: lh(40px, 29px);
  color: $clr-black;
}

h1 {
  // font-size: rem(60px);
}

h2 {
  font-size: em(20px);
}

h3,
span,
a,
label,
button {
  font-size: 1em;
  @include for-mobile-layout {
    font-size: 1.1em;
  }
}
h3 {
  font-weight: 400;
}

img {
  // width: 100%;
}

a img:not(.regular img),
button img:not(.regular img) {
  filter: grayscale(1);
}

p {
}

button {
  // @include flex(row, center, center);
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
}

.btn {
  @include btn;

  // &.dark {
  //   @include btn($type: dark);
  // }

  // &.light {
  //   @include btn($type: light);
  // }
}

// links
a {
  text-decoration: none;
  @include flex(row, center, start, $pad2);
  cursor: pointer;
  color: black;

  // color: darken($clr5, 10%);

  // &.active {
  //   text-decoration: underline;
  //   color: $clr6;
  // }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

label {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

input,
textarea {
  border: none;
}

input:focus {
  outline: none;
}
