.he {
    direction: rtl;
}
.rtl {
    direction: rtl;
    text-align: right;
    font-family: system-ui;
    font-weight: 400;
}

.clr-blue {
    color: $clr-blue2;
}

.clr-red {
    color: $clr-red;
}

.bold {
    font-weight: 500;
}

.clr-grey {
    color: $clr-grey4;
}
.weight-light {
    font-weight: 100;
}

.header {
    @include header;
    border-bottom: 1px solid $clr-grey2;
}

.doesnt-work {
    color: $clr-grey3;
}

.big-modal {
    padding: $pad2;
    height: 100vh;
    width: 400px;
    position: fixed;
    top: 0;
    background-color: $clr-white;
    left: 227px;

    @include for-narrow-layout {
        left: 80px;
    }

    & > h3 {
        font-weight: 500;
        font-size: 1.5em;
    }
}

.page-mobile {
    // padding-bottom: 55px;
    // min-height: calc(100vh - 55px);
}
