.he {
    direction: rtl;
}
.rtl {
    direction: rtl;
    text-align: right;
    font-family: system-ui;
    font-weight: 400;
}

.blue {
    color: $clr-blue2;
}

.red {
    color: $clr-red;
}

.bold {
    font-weight: 500;
}

.color-grey {
    color: $clr-grey4;
}
.weight-light {
    font-weight: 100;
}
