.main-layout {
  display: flex;
  // height: 100vh;

  @include for-mobile-layout {
    flex-direction: column;
  }

  main {
    width: calc(100vw - 230px);
    // background-color: pink;
    // @include flex(row, start, center);
    @include for-narrow-layout {
      width: calc(100% - 80px);
    }

    @include for-mobile-layout {
      width: 100%;
      height: 100%;
    }
  }

  .screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 84, 84, 0.441);

    display: none;
  }

  &.screen-open .screen {
    display: block;
  }
}
