.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;

    .arrow {
        width: 27px;
        height: 27px;
        background-color: #fff;
        text-align: center;
        border-radius: 50%;
        @include flex(row, center, center);
        cursor: pointer;
        position: absolute;
        top: 25%;

        &:first-child {
            // top: 28px;
            left: 12px;
        }
        &:last-child {
            right: 12px;
            // bottom: 52px;
        }
    }

    .carousel {
        // @include flex(row, center, start, $pad3);
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 7) - 13px);
        justify-items: center;
        gap: 15px;
        // overflow: hidden;
        scroll-behavior: smooth;

        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: 0;

        &::-webkit-scrollbar {
            display: none;
        }

        @include for-mobile-layout {
            grid-auto-columns: calc((100% / 4) - 10px);
        }

        .card {
            // scroll-snap-align: start;
        }

        &.dragging {
            // scroll-snap-type: none;
            scroll-behavior: auto;
            .card {
                user-select: none;
            }
        }
    }
}
