div {
    .gradient,
    .regular {
        @include flex(row, center, center);
        height: 100%;
        width: 100%;
        border-radius: 50%;
        img {
            border-radius: 50%;
            height: 93%;
            width: 93%;
            border: em(3px) solid white;
            filter: none;
        }
    }
    .gradient {
        background: $gradient;
    }
}
