.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;

    @include flex(column, stretch, start);
    width: 400px;

    @include for-mobile-layout {
        width: 260px;
    }
    background-color: $clr-white;

    // cancel when screen
    border: 1px solid black;
    border-radius: 10px;

    button {
        @include flex(column, center, center);
        border-bottom: 1px solid $clr-grey2;
        padding: 15px;
        font-weight: 300;
        font-size: 18px;
        border-radius: 0;
        img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 1px solid $clr-grey3;
            margin-bottom: $pad1;
        }

        span {
            color: $clr-grey4;
            font-size: 16px;
        }

        &.bold {
            font-weight: 500;
        }

        input[type="file"] {
            display: none;
        }
    }
}
