.nav-links {
    // background-color: red;
    width: 20vw;
    position: sticky;
    top: 0;
    height: 100vh;
    @include flex(column, end, space-between);
    padding: $pad2;
    border-right: 1px solid $clr-grey2;

    @include for-narrow-layout {
        @include flex(column, center, space-between);
        span {
            display: none;
        }
        width: 80px;
    }

    @include for-mobile-layout {
        position: fixed;
        flex-direction: row;
        width: 100%;
        background-color: $clr-white;
        height: 55px;
        top: calc(100vh - 55px);
    }

    a {
        width: 100%;
        padding: $pad1;
        color: $clr-black;
        border-radius: 5px;
        transition: 0.3s;

        @include for-narrow-layout {
            height: em(48px);
            width: em(48px);
            justify-content: center;
        }

        @include for-mobile-layout {
            padding: 0;
            &.not-mobile {
                display: none;
            }
            &[title="Reels"] {
                order: 1;
            }
            &[title="Profile"] {
                order: 2;
            }
        }

        &.disable {
            cursor: not-allowed;
        }

        &:first-child {
            margin: 20px 0;
            height: 40px;
            img.icon {
                display: none;
                @include for-narrow-layout {
                    display: inline-block;
                }
            }
            img.logo {
                display: inline-block;
                width: 110px;
                height: 40px;
                @include for-narrow-layout {
                    display: none;
                }
            }
        }
        img {
            height: em(28px);
            width: em(28px);
            // @include for-mobile-layout {
            //     // height: 25px;
            // }
            transition: 0.4s;
            &:not(.regular img) {
                filter: grayscale(1);
            }

            &.logo {
                height: 38px;
            }
        }

        &:hover:not(:first-child, .active) {
            background-color: $clr-grey1;
            // background-color: red;
            img:not(.logo) {
                scale: 1.1;
            }
        }

        &.active {
            background-color: $clr-grey1;
            font-weight: 700;
        }

        .img-container {
            width: em(28px);
            height: em(28px);
            img {
                outline: 1px solid $clr-grey2;
                border: none;
                width: 100%;
                height: 100%;
            }
        }
    }
}
