.nav-links {
    // background-color: red;
    width: 20vw;

    @include flex(column, center, space-between);
    padding: $pad1;

    @include for-narrow-layout {
        // background-color: yellow;
        // display: none;
        width: 80px;
    }

    @include for-mobile-layout {
        // background-color: rgb(43, 0, 255);
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 50px;
    }

    a {
        color: $clr-black;
        @include flex(row, center, center);

        height: 48px;
        width: 48px;
        border-radius: 5px;
        transition: 0.5s;

        &:first-child {
            margin: 20px 0;
        }

        img {
            height: 28px;
            filter: grayscale(1);
            transition: 0.4s;
        }

        &:hover {
            background-color: $clr-grey1;
            // background-color: red;
            img {
                scale: 1.1;
            }
        }
    }
}
