.nav-links {
    background-color: red;
    width: 20vw;

    @include for-narrow-layout {
        background-color: yellow;
        // display: none;
        width: 80px;
    }

    @include for-mobile-layout {
        background-color: rgb(43, 0, 255);
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 50px;
    }
}
