.post-controls {
    padding: 0 10px;
    .icons-container {
        @include flex(row, center, space-between);
        margin: em(10px) 0;
        div {
            @include flex(row, center, center);
            a {
                position: relative;
                img,
                svg {
                    height: em(25px);
                    &:not(.last) {
                        margin-right: 20px;
                    }
                }

                svg {
                    color: red;
                    left: 0px;
                    position: absolute;
                    display: none;
                }

                &.red-heart svg {
                    display: block;
                }
            }
        }
    }
    h3 {
        margin-top: 5px;
        @include for-mobile-layout {
            &:first-of-type {
                display: none;
            }
        }

        span {
            font-weight: 100;
            font-size: inherit;
        }
    }
}
