.post-controls {
    padding: 0 10px;
    .btns-container {
        @include flex(row, center, space-between);
        margin: em(10px) 0;
        div {
            @include flex(row, center, center);
        }
        img {
            height: em(25px);
            &:not(.last) {
                margin-right: 20px;
            }
        }
    }
    h3 {
        margin-top: 5px;
        @include for-mobile-layout {
            &:first-of-type {
                display: none;
            }
        }

        span {
            font-weight: 100;
        }
    }
}
