.posts {
    margin-top: 10px;
    margin-bottom: 50px;

    ul.posts-container {
        width: 100%;
        @include flex(column, center, start, $pad1);

        li {
            width: 75%;

            @include for-mobile-layout {
                width: 100%;
            }
        }
    }
}
