.post-comments {
    padding: 0 10px;
    position: relative;
    h3 {
        // input::placeholder {
        margin-top: 5px;
        color: $clr-grey4;
        font-weight: 350;
        font-size: 1em;
        @include for-mobile-layout {
            // margin-top: 0px;
            font-size: 1.2em;
            font-weight: 100;
        }
    }
    // input::placeholder {
    //     font-size: 17px;
    // }
    input,
    input::placeholder {
        border: none;
        cursor: pointer;
        padding: 0;
        font-size: 1em;
        font-weight: 100;
        margin-top: 8px;
        width: 100%;
        @include for-mobile-layout {
            font-size: 18px;
        }
    }
    input:focus {
        outline: none;
    }

    button.post {
        position: absolute;
        right: 10px;
        bottom: 0;
    }
}
