.post-comments {
    padding: 0 10px;
    position: relative;
    @include flex(column, start, start, 7px);
    h3 {
        font-weight: 550;
        font-size: 1em;
        @include for-mobile-layout {
            font-size: 1.2em;
        }
        span {
            font-size: inherit;
        }
    }
    button,
    span {
        font-weight: 100;
    }
    input,
    input::placeholder {
        // border: none;
        cursor: pointer;
        padding: 0;
        font-size: 1em;
        font-weight: 100;
        width: 100%;
        @include for-mobile-layout {
            font-size: 18px;
        }
    }
    // input:focus {
    //     outline: none;
    // }

    button.post {
        position: absolute;
        right: 10px;
        bottom: 0;
    }
}
