.post-controls {
    padding: 0 10px;
    .icons-container {
        @include flex(row, center, space-between);
        margin: em(10px) 0;
        img,
        svg {
            height: em(25px);
        }
        div {
            @include flex(row, center, center);
            a {
                margin-right: 20px;
            }
        }
    }
}
