.post-comments {
    padding: 0 10px;

    @include flex(column, start, start, 7px);
    font-size: 16.5;
    a {
        font-weight: 450;
        gap: 5px;
        @include for-mobile-layout {
        }
        span {
            font-size: inherit;
            font-weight: 400;
            font-family: system-ui;
        }
    }
    button,
    span {
        font-weight: 100;
    }

    form {
        width: 100%;
        @include flex(row, center, space-between);
        .img-container {
            height: 40px;
            width: 40px;
        }

        input,
        input::placeholder {
            width: calc(100% - 90px);
            cursor: pointer;
            padding: 0;
            font-size: 1em;
            font-weight: 100;
            @include for-mobile-layout {
                font-size: 16.5px;
            }
        }
    }

    button.post,
    span.post {
        width: 40px;
        border: none;
        padding: 0;
    }
}
