.header {
    display: none;
    @include for-mobile-layout {
        @include flex(row, center, space-between);
        height: 50px;
        border-bottom: 1px solid $clr-grey2;
        padding: $pad1;
        position: sticky;
        top: 0;
        background-color: $clr-white;
        z-index: 1;

        img {
            height: 22px;
        }
        h2 {
            @include flex(row, center, center, 7px);
            font-size: 1.4em;
            font-weight: 400;
            img {
                height: 14px;
                // margin-left: 5px;
            }
        }

        div {
            @include flex(row, center, center, $pad1);
        }
    }
}
