.profile-highlight {
    margin-top: $pad3;
    margin-bottom: $pad3;

    ul {
        display: flex;
        li {
            width: 66px;
            .img-container {
                height: 100px;
                width: 100px;

                @include for-mobile-layout {
                    height: 65px;
                    width: 65px;
                }
            }
        }
    }
}
