.user-preview {
    @include flex(row, center, space-between);
    width: 100%;
    margin-bottom: 7px;

    .img-container {
        height: 50px;
        width: 50px;
    }

    .name-container {
        width: calc(100% - 120px);
        @include flex(column, start, center);
        span {
            color: $clr-grey4;
            font-size: 0.8rem;
            font-weight: 300;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    button {
        min-width: 52px;
        justify-self: end;
        font-size: 0.8rem;
        justify-content: end;
    }
}
