.user {
    // background-color: red;
    @include flex(column, center, space-between, 5px);
    width: 66px;
    text-align: center;
    cursor: pointer;

    div.img-container {
        height: 75px;
        width: 75px;
    }
    a {
        width: 100%;

        span {
            font-size: 13px;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
