.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    li {
        @include flex(row, center, center);
        img {
            width: 100%;
        }
    }
}
